# Gradle
.gradle/
build/
**/build/

# IDE
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store

# Android
local.properties

# env
.env*

# Next.js (removed)
/.next/
/node_modules/

# Kobweb (site/)
/site/.kobweb/site/
/site/.kobweb/server/
/site/kotlin-js-store/
